@import 'https://fonts.googleapis.com/css?family=Reem+Kufi';

* {
    font-family: 'Reem Kufi', sans-serif;
}

#controls {
    width: 300px;
    min-width: 200px;
    background-color: rgba(0,0,0, 0.4);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}

.btn {
	color: white !important;
	background-color: #4d88ff;
    padding: 5px;
    border-radius: 4px;
    border: none;
    font-size: 15px;
}

/* hover on ask a question link */
.btn:hover {
	background-color: #6699ff;
	cursor: pointer;
}

.param {
    margin-bottom: 10px;
}

.param:hover {
    cursor: pointer;
}

#output-scale {
    width: 70px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 2px;
    padding-left: 10px;
    margin-left: 7px;
}

#toggle {
    font-size: 13px;
    display: inline-block;
    background-color: rgba(0,0,0, 0.4);
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
}

#toggle:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.8);
}

#paramContainer {
    overflow:hidden;
}

#detail-factor, #blur-factor {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}

#console {
    font-size: 13px;
    max-height: 150px;
    overflow-y: scroll;
    border: none;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    margin-bottom: 10px;
    padding: 5px;
}

.ui-slider {
    background-color: #4d88ff;
}

.ui-slider-handle:hover {
    cursor: pointer;
}

.ui-slider-handle:active {
    background-color: rgb(200, 200, 200)
}